@import "_variables";
.bgprimary {
  background-color: $primarycolor;
}
.bgsecondary {
  background-color: lighten($secondarycolor, 26%);
}
.navbar {
  color: $terciaryclor;
}
a {
  color: $terciaryclor !important;
}

.card {
  overflow: hidden;
  border: radius 1rem;
  margin: 20px;
  background-color: $primarycolor;
  max-width: 30%;
}
.card-img-top {
  max-height: 320px;
  position: relative;
  z-index: 0;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lighten($secondarycolor, 26%);
}
.card-title {
  font-size: 1.5rem;
}
